{% set dataTable_pageLength = 100 %}
{% extends 'RichardPQAdminBundle:layout:crud.index.html.twig' %}

{% set p_id ='' %}
{% set h_bread_c_title = '' %}
{% set h_bread_c_2_title = '' %}
{% set route_prefix = '' %}

{% if inventory %}
    {% set p_id = 'filmrollcrud' %}
    {% set h_bread_c_2_title = 'Add/Edit Roll' %}
    {% set route_prefix = 'film-roll-inventory' %}
{% elseif manage %}
    {% set p_id = 'filmrollmanage' %}
    {% set h_bread_c_2_title = 'Chk-In/Out/Transfer/Adjust' %}
    {% set route_prefix = 'film-roll_manage' %}
{% elseif account %}
    {% set p_id = 'filmrollaccount' %}
    {% set h_bread_c_2_title = 'Set Cost' %}
    {% set route_prefix = 'film-roll_manage_account' %}
{% endif %}

{% block pageId %}
    {{- p_id -}}
{% endblock%}

{% block content_header_title %}Film Roll{% endblock %}
{% block content_header_title_small %}List{% endblock %}
{% block content_header_breadcrumb %}Inventory{% endblock %}
{% block content_header_breadcrumb_2lv %}{{ h_bread_c_2_title }}{% endblock %}
{% block breadcrumb_icon 'pencil' %}

{% block custom_stylesheets %}
    {{ parent() }}
    <!-- Select2 -->
    <link rel="stylesheet" href="{{ asset('bundles/richardpqadmin/plugins/select2/select2.min.css') }}">
    <style>
        .film-roll-status-out {
            font-weight: bold;
            color: red;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">List of Films Rolls</h3>
                    {% if inventory %}
                        <a class="btn btn-success pull-right" href="{{ path('film-roll-inventory_new') }}" >New Film Roll</a>
                    {% endif %}
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table id="main-table" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Roll #</th>
                            <th>Film</th>
                            <th>Office</th>
                            {% if not account %}
                                <th>Width</th>
                                <th>Current Wght.</th>
                            {% endif %}
                            <th>SqFt Avail.</th>
                            <th>Cost/SqFt</th>
                            <th>L. Ft Avail.</th>
                            <th>Current $</th>
                            <th>Lot</th>
                            <th>Stat.</th>
                            {% if account %}
                                <th>Orig. Cost</th>
                            {% endif %}
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td class="roll-id">{{ entity.id }}</td>
                                <td class="element-description">{{ entity.film }}</td>
                                <td class="td-office-name">{{ entity.actualOffice }}</td>
                                {% if not account %}
                                    <td>{{ entity.rollWidth }}</td>
                                    <td class="td-current-weight">{{ entity.currentWeight }}</td>
                                {% endif %}
                                <td class="actual-sqft">{{ entity.actualSqFt }}</td>
                                <td class="sqft-cost">{{ entity.cost ? entity.costPerSqFt | localizedcurrency('USD')  : '' }}</td>
                                <td>{{ entity.actualLinearFeet }}</td>
                                <td class="inventory-value">{{ entity.cost ? (entity.costPerSqFt * entity.actualSqFt) | localizedcurrency('USD')  : '' }}</td>
                                <td>{{ entity.lot }}</td>
                                <td class="film-roll-status {{- entity.isCheckedOut ? ' film-roll-status-out': '' -}}">{{ entity.isCheckedOut ? 'OUT' : 'IN' }}</td>
                                {% if account %}
                                    <td class="original-cost">{{ entity.cost ? entity.cost | localizedcurrency('USD') : '' }}</td>
                                {% endif %}
                                <td>
                                    {% if inventory %}
                                        {% embed 'RichardPQAdminBundle:widgets:action.buttons.widget.html.twig' with {'entity_route_prefix':route_prefix, 'entity': entity, 'show': true} %}
                                            {% set disabled = "" %}
                                            {% if "ROLE_OFFICE_MANAGER" in app.user.roles and entity.actualOffice.id != app.user.office.id %}
                                                {% set disabled = ' disabled' %}
                                            {% endif %}
                                            {% block crud_buttons %}
                                                <a class="btn btn-default" href="{{ path(entity_route_prefix~'_show', { 'id': entity.id }) }}" data-toggle="tooltip" title="Details"><i class="fa fa-eye"></i></a>
                                                {% if  not entity.hasBeenUsed %}
                                                    <a class="btn btn-default{{ disabled }}" href="{{ path(entity_route_prefix~'_edit', { 'id': entity.id }) }}" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
                                                    <a class="btn btn-default delete-row{{ disabled }}" href="{{ path(entity_route_prefix~'_delete', { 'id': entity.id }) }}" data-toggle="tooltip" title="Delete"><i class="fa fa-remove"></i></a>
                                                {% endif %}

                                            {% endblock %}
                                            {% block custom_buttons %}
                                                {% if entity.isCheckedOut and not entity.isEmpty %}
                                                    <a class="btn btn-default film-checkout checkin{{ disabled }}" href="{{ path('film-checkout-checkin', { 'id': entity.id }) }}" data-toggle="tooltip" title="Check-in"><i class="fa fa-sign-in"></i></a>
                                                    <a class="btn btn-default film-checkout checkout{{ disabled }}" href="{{ path('film-checkout-checkout', { 'id': entity.id }) }}" data-toggle="tooltip" title="Check-out" style="display: none"><i class="fa fa-sign-out"></i></a>
                                                {% elseif entity.actualLinearFeet > 0 and entity.actualSqFt > 0 %}
                                                    <a class="btn btn-default film-checkout checkin{{ disabled }}" href="{{ path('film-checkout-checkin', { 'id': entity.id }) }}" data-toggle="tooltip" title="Check-in" style="display: none"><i class="fa fa-sign-in"></i></a>
                                                    <a class="btn btn-default film-checkout checkout{{ disabled }}" href="{{ path('film-checkout-checkout', { 'id': entity.id }) }}" data-toggle="tooltip" title="Check-out"><i class="fa fa-sign-out"></i></a>
                                                    <a class="btn btn-default film-transfer" href="{{ path('film-transfer_roll', { 'id': entity.id }) }}" data-toggle="tooltip" title="Transfer"><i class="fa fa-exchange"></i></a>
                                                    <a class="btn btn-default film-adjust{{ disabled }}" href="{{ path('film-roll-adjust-adjust', { 'id': entity.id }) }}" data-toggle="tooltip" title="Adjust"><i class="fa fa-wrench"></i></a>
                                                {% endif %}
                                            {% endblock %}
                                        {% endembed %}
                                    {% elseif manage %}
                                        {% embed 'RichardPQAdminBundle:widgets:action.buttons.widget.html.twig' with {'entity_route_prefix':route_prefix, 'entity': entity} %}
                                            {% block crud_buttons %}
                                                <a class="btn btn-default" href="{{ path(entity_route_prefix~'_show', { 'id': entity.id }) }}" data-toggle="tooltip" title="Details"><i class="fa fa-eye"></i></a>
                                            {% endblock %}
                                            {% block custom_buttons %}
                                                {% if entity.isCheckedOut and not entity.isEmpty %}
                                                    <a class="btn btn-default film-checkout checkin" href="{{ path('film-checkout-checkin', { 'id': entity.id }) }}" data-toggle="tooltip" title="Check-in"><i class="fa fa-sign-in"></i></a>
                                                    <a class="btn btn-default film-checkout checkout" href="{{ path('film-checkout-checkout', { 'id': entity.id }) }}" data-toggle="tooltip" title="Check-out" style="display: none"><i class="fa fa-sign-out"></i></a>
                                                {% elseif entity.actualLinearFeet > 0 and entity.actualSqFt > 0 %}
                                                    <a class="btn btn-default film-checkout checkin" href="{{ path('film-checkout-checkin', { 'id': entity.id }) }}" data-toggle="tooltip" title="Check-in" style="display: none"><i class="fa fa-sign-in"></i></a>
                                                    <a class="btn btn-default film-checkout checkout" href="{{ path('film-checkout-checkout', { 'id': entity.id }) }}" data-toggle="tooltip" title="Check-out"><i class="fa fa-sign-out"></i></a>
                                                    <a class="btn btn-default film-transfer" href="{{ path('film-transfer_roll', { 'id': entity.id }) }}" data-toggle="tooltip" title="Transfer"><i class="fa fa-exchange"></i></a>
                                                    <a class="btn btn-default film-adjust" href="{{ path('film-roll-adjust-adjust', { 'id': entity.id }) }}" data-toggle="tooltip" title="Adjust"><i class="fa fa-wrench"></i></a>
                                                {% endif %}
                                            {% endblock %}
                                        {% endembed %}
                                    {% elseif account %}
                                        {% embed 'RichardPQAdminBundle:widgets:action.buttons.widget.html.twig' with {'entity_route_prefix':route_prefix, 'entity': entity, 'show': true} %}
                                            {% block crud_buttons %}
                                                <a class="btn btn-default set-cost" href="{{ path('film-roll_set_cost', { 'id': entity.id }) }}" data-toggle="tooltip" title="Set Cost"><i class="fa fa-usd"></i></a>
                                            {% endblock %}
                                        {% endembed %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block modals %}
    {{ parent() }}
    <div class="modal fade" role="dialog" id="checkout-modal" aria-labelledby="checkoutModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Checkout Roll <span class="roll-info"></span></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="checkout-select">Select Estimate #:</label>
                        <select id="checkout-select" class="select2" style="width: 100%">
                            {% for estimate in estimates %}
                                <option value="{{ estimate.id }}">#{{ estimate.id }} ({{ estimate.jobName }})</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="checkout-action">Checkout</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="checkin-modal" aria-labelledby="checkinModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Checkin Roll <span class="roll-info"></span></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group" id="checkin-weight-in">
                        <label for="checkin-weight">Weight In:</label>
                        <input type="text" id="checkin-weight" name="checkin-weight" class="form-control">
                        <div class="help-block with-errors weight-in-error"></div>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="empty" id="checkin-empty"> Empty?
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="checkin-action">Checkin</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="transfer-modal" aria-labelledby="transferModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Transfer Roll <span class="roll-info"></span></h4>
                </div>
                <div class="modal-body">
                    <dl class="dl-horizontal">
                        <dt>From Office:</dt>
                        <dd id="dd-from-office"></dd>
                        <div class="form-group">
                            <dt><label for="to-office-select">To Office:</label></dt>
                            <dd>
                                <select id="to-office-select" class="select2" name="to-office" style="width: 100%">
                                    {% for office in offices %}
                                        <option value="{{ office.id }}">{{ office }}</option>
                                    {% endfor %}
                                </select>
                            </dd>
                        </div>
                    </dl>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="transfer-action">Transfer</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="cost-modal" aria-labelledby="costModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Set Cost Roll <span class="roll-info"></span></h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input class="form-control" type="text" placeholder="99.99" name="cost" id="input-cost">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="set-cost-action">Set Cost</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="print-label-modal" aria-labelledby="print-labelModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Print Label Roll <span class="roll-info"></span></h4>
                </div>
                <div class="modal-body">
                    <dl class="dl-horizontal">
                        <dt>Roll #:</dt>
                        <dd id="dd-label-roll"></dd>
                        <dt>Manufacturer:</dt>
                        <dd id="dd-label-manufacturer"></dd>
                        <dt>Name:</dt>
                        <dd id="dd-label-name"></dd>
                        <dt>Width:</dt>
                        <dd id="dd-label-width"></dd>
                        <dt>Weight:</dt>
                        <dd id="dd-label-weight"></dd>
                        <dt>Linear Ft:</dt>
                        <dd id="dd-label-linear"></dd>
                        <dt>Square Ft:</dt>
                        <dd id="dd-label-square"></dd>
                    </dl>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                    <a class="btn btn-primary" id="print-label-action" href="{{ path('film-roll_print_label') }}" target="_blank">Print</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="adjust-modal" aria-labelledby="adjustModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Adjust Roll <span class="roll-info"></span></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group" id="adjust-weight">
                        <label for="adjust-weight-in">Weight In:</label>
                        <input type="text" id="adjust-weight-in" name="adjust-weight-in" class="form-control">
                        <div class="help-block with-errors adjust-weight-in-error"></div>
                    </div>
                    <div class="form-group">
                        <label for="adjust-notes">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Notes:</label>
                        <textarea id="adjust-notes" name="adjust-notes" rows="3" cols="60" class="form-control"></textarea>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="empty" id="adjust-empty"> Empty?
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="adjust-action">Adjust</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_jscripts %}
    {{ parent() }}
    <!-- Select2 -->
    <script src="{{ asset('bundles/richardpqadmin/plugins/select2/select2.full.min.js') }}"></script>
    <script>
        $(function () {
            $(".select2").select2();
            $('#main-table').on('click','.film-checkout', function(event) {
                //stop normal behavior
                event.preventDefault();

                var $a = $(this);
                var $url = $a.attr('href');
                var $tr = $a.closest('tr');
                var $checkout = $a.hasClass('checkin') ? true : false;
                var $td = $a.closest('td');
                /*var $film = $tr.find('.element-description').first().text();
                var $roll_id = $tr.find('.roll-id').first().text();*/

                var $td_status = $tr.children('.film-roll-status').first();
                var $td_status_text = $checkout ? 'IN' : 'OUT';


                var $modal = $checkout ? $('#checkin-modal') : $('#checkout-modal');
                $modal.find('.roll-info').text(getRollInfo($tr));
                //$modal.find('.modal-body .error').empty();
                $modal.modal('show');
                var $button = $checkout ? '#checkin-action' : '#checkout-action';
                var $extra_parameters = '';
                var $data = '';



                $modal.find($button).on('click', function () {
                    if (!$checkout) {
                        $extra_parameters = '/'+$('#checkout-select').val();
                    } else {
                        var $weight = $('#checkin-weight').val();
                        var $empty =  $('#checkin-empty').is(':checked');
                        $data = {'weight':$weight, 'empty': $empty}
                    }


                    $.post($url+$extra_parameters, $data)
                        .done(function ($dataResult) {
                            $td_status.text($td_status_text);
                            $modal.modal('hide');
                            $a.hide();

                            if ($checkout) {
                                $td.find('a.checkout').first().show();
                                $tr.find('.td-current-weight').first().text($dataResult.weight);
                                $tr.find('.inventory-value').text("$"+($dataResult.inventory).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));
                                $tr.find('.actual-sqft').first().text($dataResult.square);
                                $tr.children('.film-roll-status').removeClass('film-roll-status-out');
                                $('#checkin-weight-in').removeClass('has-error');
                                $('.weight-in-error').empty();
                                $('#checkin-weight').val('');
                                openModalLabel($dataResult);
                            } else {
                                $td.find('a.checkin').first().show();
                                $tr.children('.film-roll-status').addClass('film-roll-status-out');
                            }
                            //delete event association to avoid multiples calls
                            $($button).off('click');

                        })
                        .fail(function (xhr) {
                            if ($checkout) {
                                console.log(xhr.responseText);
                                $('#checkin-weight-in').addClass('has-error');
                                $('.weight-in-error').empty();
                                $('.weight-in-error').html(xhr.responseText.replace(/['"]+/g, ''));

                            }
                        });
                });
            });

            $('#main-table').on('click','.film-transfer', function(event) {
                //stop normal behavior
                event.preventDefault();

                var $a = $(this);
                var $url = $a.attr('href');
                var $tr = $a.closest('tr');
                var $office = $tr.find('.td-office-name').first().text();
                /*var $film = $tr.find('.element-description').first().text();
                var $roll_id = $tr.find('.roll-id').first().text();*/
                var $modal = $('#transfer-modal');

                //alert($film);

                $modal.find('#dd-from-office').text($office);
                $modal.find('.roll-info').text(getRollInfo($tr));
                $modal.modal('show');

                $modal.find('#transfer-action').on('click', function () {
                    $data = {'officeTo': $('#to-office-select').val()};
                    $.post($url, $data)
                        .done(function ($responseData) {
                            //$td_status.text($td_status_text);
                            $tr.find('.td-office-name').first().text($responseData.office);
                            $modal.modal('hide');
                            //delete event association to avoid multiples calls
                            $('#transfer-action').off('click');

                        })
                        .fail(function (xhr) {

                        });
                });
            });

            $('#main-table').on('click','.set-cost', function(event) {
                //stop normal behavior
                event.preventDefault();

                var $a = $(this);
                var $url = $a.attr('href');
                var $tr = $a.closest('tr');
                var $modal = $('#cost-modal');

                //alert($film);
                $modal.find('.roll-info').text(getRollInfo($tr));
                $modal.modal('show');

                $modal.find('#set-cost-action').on('click', function () {
                    $data = {'cost': $('#input-cost').val()};
                    $.post($url, $data)
                        .done(function ($responseData) {
                            //$td_status.text($td_status_text);
                            $('#input-cost').val("");
                            $modal.modal('hide');
                            //delete event association to avoid multiples calls
                            $('#set-cost-action').off('click');

                            $tr.find('.inventory-value').text("$"+($responseData.inventory).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));
                            $tr.find('.sqft-cost').text("$"+($responseData.costPerSqFt).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));
                            $tr.find('.original-cost').text("$"+($responseData.originalCost));
                        })
                        .fail(function (xhr) {

                        });
                });
            });

            $('#main-table').on('click','.film-adjust', function(event) {
                //stop normal behavior
                event.preventDefault();

                var $a = $(this);
                var $url = $a.attr('href');
                var $tr = $a.closest('tr');
                var $modal = $('#adjust-modal');

                //alert($film);
                $modal.find('.roll-info').text(getRollInfo($tr));
                $modal.modal('show');

                $modal.find('#adjust-action').on('click', function () {
                    $data = {'weight-in': $('#adjust-weight-in').val(), 'empty' : $('#adjust-empty').is(':checked'), 'notes' : $('#adjust-notes').val()};
                    $.post($url, $data)
                        .done(function ($dataResult) {
                            //$td_status.text($td_status_text);
                            $('#adjust-notes').val("");
                            $('#adjust-weight-in').val("");
                            $modal.modal('hide');
                            $('#adjust-weight-in').removeClass('has-error');
                            $('.adjust-weight-in-error').empty();
                            $('#adjust-weight-in').val('');
                            $tr.find('.td-current-weight').first().text($dataResult.weight);
                            $tr.find('.actual-sqft').first().text($dataResult.square);
                            $tr.find('.inventory-value').text("$"+($dataResult.inventory).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));
                            openModalLabel($dataResult);
                            //delete event association to avoid multiples calls
                            $('#adjust-action').off('click');
                        })
                        .fail(function (xhr) {
                            $('#adjust-weight').addClass('has-error');
                            $('.adjust-weight-in-error').empty();
                            $('.adjust-weight-in-error').html(xhr.responseText.replace(/['"]+/g, ''));
                        });
                });
            });

            function getRollInfo($tr) {
                //var $film = $tr.find('.element-description').first().text();
                var $roll_id = $tr.find('.roll-id').first().text();

                //return '# '+$roll_id+' - '+ $film;
                return '# '+$roll_id;
            }

            function openModalLabel($data) {

                var $modalLabel = $('#print-label-modal');
                var $newLink =  Routing.generate('film-roll_print_label', { id: $data.roll});
                $modalLabel.find('#dd-label-roll').first().text($data.roll);
                $modalLabel.find('#dd-label-manufacturer').first().text($data.manufacturer);
                $modalLabel.find('#dd-label-name').first().text($data.name);
                $modalLabel.find('#dd-label-width').first().text($data.width);
                $modalLabel.find('#dd-label-weight').first().text($data.weight);
                $modalLabel.find('#dd-label-linear').first().text($data.linear);
                $modalLabel.find('#dd-label-square').first().text($data.square);
                $modalLabel.find('#print-label-action').first().attr('href', $newLink);
                $modalLabel.modal('show');
            }
        });
    </script>

{% endblock %}
